// src\scss\main.scss

@use 'components';

/* more semantic color */
:root {
	/* Add new semantic color variables */
	--success: 142 76% 36%;
	--success-foreground: 144 70% 100%;

	--info: 199 89% 48%;
	--info-foreground: 200 98% 100%;

	--warning: 38 92% 50%;
	--warning-foreground: 48 96% 100%;

	--error: 0 84% 60%;
	--error-foreground: 0 85% 100%;
}

.dark {
	/* Add new semantic color variables for dark theme */
	--success: 142 70% 42%;
	--success-foreground: 144 70% 95%;

	--info: 199 89% 42%;
	--info-foreground: 200 98% 98%;

	--warning: 38 92% 48%;
	--warning-foreground: 48 96% 98%;

	--error: 0 84% 46%;
	--error-foreground: 0 85% 98%;
}
